---
language: java
jdk:
  - openjdk11
branches:
  only:
    - main
cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.gradle
script: ./gradlew clean build
before_deploy:
  - zip -r travis *
  - mkdir -p deploy
  - mv travis.zip deploy/travis.zip
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: traivs-bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
    on:
      all_branches: true
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: traivs-bucket
    key: travis.zip
    bundle_type: zip
    application: travis-project
    deployment_group: travis-group
    region: ap-northeast-2
    wait-until-deployed: true
    on:
      all_branches: true
notifications:
  email:
    recipients:
      - tkdrl8908@naver.com
